@charset "UTF-8";

/* This site uses Start Bootstrap - Resume v7.0.4 (https://startbootstrap.com/theme/resume) as a reference */

:root {
  --bs-body-font-size: 1em;
  --bs-body-font-weight: 300;
  --bs-body-line-height: 1.5;
  --font-family: Raleway, san-serif, Arial;
  --bs-body-color: #333333;
  --bs-body-bg: #ffffff;
  --blue: #4A9DEB;
  --dark-blue: #2377C6;
  --light-gray: #F7F7F7;
  --gray: #5E5E5E;
  --dark-gray: #3F3F3F;
  --black: #333333;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  -webkit-text-size-adjust: 100%;
}

.intro-container {
  display: flex;
  align-items: center;
}

/*//// Container ////*/

.content-item-container {
  padding: 5% 15% 5% 15%;
}

/* section line*/
hr {
  margin: 1rem 0;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

/*//// Typography ////*/

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.5rem;
  color: #343a40;
}

h1 {
  color: var(--black);
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size: 1.8em;} /*1rem = 16px*/
  h2 {font-size: 1.3em;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size: 1.8em;} /*1rem = 16px*/
  h2 {font-size: 1.3em;}
  /* .intro-container {height: 500px}; */
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size: 2em;} /*1rem = 16px*/
  h2 {font-size: 1.5em;}
  p {font-size: 1.2em;}
  .intro-container {height: 700px};
}

a {
  color: var(--black);
}

/*//// Content ////*/

.content-item-container p {
  font-weight: 300;
}

/*//// Navbar ////*/

.navbar-dark {
  background-color: var(--blue);
}

.navbar h2 {
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: uppercase;
}

.navbar h3 {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--white);
  text-transform: uppercase;
}

.navbar h3:hover {
  color: rgb(217, 238, 245);
}

/*//// Toggler ////*/

.navbar-dark .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none!important;
}

/*//// img ////*/

.img-project {
  margin-top: 2rem;
  max-width: 100%;
  max-height: 750px;
  box-shadow: 0px 0px 10px rgba(114, 114, 114, 0.25);
}

.social-media-icon {
  font-size: 2rem;
  margin: .5rem;
}

.tool-icon-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  font-size: 2rem;
  color: var(--gray);
}

.tool-icon-list svg {
  margin: .5rem;
}

/*//// Projects ////*/

.project-item img {
  padding: 1rem;
}

/*//// Buttons ////*/

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-lg {
  background: var(--blue);
  width: 12rem;
  border: none;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}