@charset "UTF-8";

/* This site uses Start Bootstrap - Resume v7.0.4 (https://startbootstrap.com/theme/resume) as a reference */

:root {
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 300;
  --bs-body-line-height: 1.5;
  --font-family: Raleway, san-serif, Arial;
  --bs-body-color: #333333;
  --bs-body-bg: #ffffff;
  --blue: #4A9DEB;
  --dark-blue: #2377C6;
  --light-gray: #CAD1D7;
  --dark-gray: #949494;
  --black: #333333;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);

  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
}

/*//// Container ////*/

.content-item-container {
  padding: 15%;
}

/* section line*/
hr {
  margin: 1rem 0;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

/*//// Typography ////*/

h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

.navbar h3 {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--white);
  text-transform: uppercase;
}

.content-item-container h2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--dark-blue);
}

/*//// Navbar ////*/

.navbar-dark {
  background-color: var(--blue);
}

/*//// Toggler ////*/

.navbar-dark .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none!important;
}
/*//// img ////*/

.img-profile {
  width: 80%;
  padding-top: 1em;
  padding-bottom: 2em;
}

.social-media-icon {
  font-size: 2rem;
  margin: .5rem;
}